* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.navbar-container {
  width: 100%;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1px -1px 2px 3px black;
  transition: height 0.3s;
  padding: 2rem 0;
}

.navbar-container__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}

.navbar-container__content > button {
  font-size: 3rem;
  background-color: inherit;
  border: none;

  transition: transform 0.1s ease-in;
}

.dropdown-container > button:hover {
  transform: rotate(90deg);
}

.navbar-container__content > h1 {
  font-size: 3rem;
  letter-spacing: 3px;
}

.navbar-container__page-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.75rem;
}

.navbar-container__page-links > a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

.navbar-container__page-links > a:hover {
  text-decoration: underline;
}

.navbar-container__social-media {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
  width: 15%;
}

.navbar-container__social-media > a {
  text-decoration: none;
  color: black;
}

.navbar-container__social-media > a > img {
  width: 2.25rem;
  height: auto;
}

.dropdown-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;

  height: 0;
  transition: height 0.3s;
}

.dropdown-container__page-links {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.dropdown-container__page-links > a {
  width: 80%;
  text-decoration: none;
  color: black;
  font-size: 2rem;
  letter-spacing: 2px;
  border: 2px solid gray;
  border-radius: 0.75rem;
  padding: 1rem;

  transition: transform 0.1s ease-in;
}

.dropdown-container__page-links > a:hover {
  transform: translateX(3rem);
}
